
.home-cat-box
{
	margin-top: 25px;
}
.cat-img-box img
{
 	-webkit-filter: grayscale(100%);
  	filter: grayscale(100%);
 	-webkit-transition:all 0.3s ease-in-out;
  	-moz-transition:all 0.3s ease-in-out;
  	-o-transition:all 0.3s ease-in-out;
  	transition:all 0.3s ease-in-out;
}
.cat-img-box img:hover
{
 	-webkit-filter: grayscale(0%);
  	filter: grayscale(0%);
  	-webkit-transition:all 0.3s ease-in-out;
  	-moz-transition:all 0.3s ease-in-out;
  	-o-transition:all 0.3s ease-in-out;
  	transition:all 0.3s ease-in-out;
}


/* page specific stylesheet */