.myAccount-Area {
    padding: 25px;
    width: 70%;
}
.myAccount-content-Area {
    min-height: 300px !important;
    background: #fff;
    height: auto;
    padding: 25px !important;
    
}

.tab-header{
	height: 55px;
}
.tab-header a{
	line-height: 5rem;
}
.tabs .indicator{
	background-color: #2669b6;
}
.tab span{
    font-size: 2.7em;
    color: #888 ;
    line-height: 50px !important;
}
.tab .active span{
    font-size: 2.7em;
    color: #2669b6;
    line-height: 50px !important;
}


/**================== MY ACCOUNTS ====================*/
.user-profile-area{

}
.user-profile-area h5{
	text-align: center;
	color: #aaa;
	background: linear-gradient(360deg, rgba(221, 221, 221, 0.58),rgba(238, 238, 238, 0.42),#f1f1f1);
	padding: 10px 0px;
	border-radius: 50px;
	margin-top: 0px;
}
.userDetails li{
	list-style: none;
	padding: 3px 10px;
}
.orderReturns-area-tabs a{
    color: #888888 !important;
}
.orderReturns-area-tabs a:hover,.orderReturns-area-tabs a.active {
    background:rgba(38, 105, 182, 0.2) !important;
    color: #2966b6 !important;
    font-weight: bolder;
}
.user-photo img {
 	width: 100%;
    height: auto;
    border: 2px dashed #ddd;
    padding: 3px;
}
.user-address{
	text-align: justify;
}
/*========================  Order List  ===========================*/
.OrderList-Area{
	padding-top: 0px !important;
}
.OrderList-Area h5{
	text-align: center;
	color: #aaa;
	background: linear-gradient(360deg, rgba(221, 221, 221, 0.58),rgba(238, 238, 238, 0.42),#f1f1f1);
	padding: 10px 0px;
	border-radius: 50px;
	margin-top: 0px;
}
.product-content-area{
	padding: 15px 0px;
    border-bottom: 1px dashed #ddd;
    padding-bottom: 0px;
}
.product-view-area{
    margin: 10px 0px;
    padding: 10px 10px;
    border: 1px dashed #ddd;
}
.product-content-area:last-child{
	padding: 15px 0px;
    border-bottom: 0px dashed #ddd;
    padding-bottom: 0px;
}
.row-content{
	padding: 0px;
	margin-bottom: 0px;
}
.product-view-area.box{
    border-bottom: 1px dashed #ddd;
    margin-bottom: 5px;
}
.product-view-area.box:last-child{
    border-bottom: 0px dashed #ddd;
    margin-bottom: 5px;
}
.orderList-image {
    width: 25%;
    height: auto;
    padding-left: 0px !important;
}
.orderList-image img{
	width: 80%;
}
.productName{
	color: #666;
    font-size: 24px;
    margin:0px auto;
    line-height: 1.5rem;
    padding-bottom: 7px;
}
.product-seller {
    float: right;
    margin-top: 5px;
}
.product-seller .label {
    text-align: right;
    font-size: 11px;
    line-height: 11px;
    color: #b7b7b7;
}
.seller-name {
    font-size: 10px;
    color: #9a9a9a;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.product-category-list {
    font-size: 11px;
    color: #a2a2a2;
}
.produce-price {
    font-size: 11px;
    font-weight: 500;
    margin-bottom: 0px;
    line-height: 12px;
    letter-spacing: 1px !important;
    color: #848688;
}
.price-amount {
   font-size: 25px;
    /* float: left; */
    margin-top: 0px;
    line-height: 25px;
    /* letter-spacing: 11px; */
    color: green;
    margin-bottom: 0px; 
}

p.price-amount i {
    font-size: 15px;
}
p.product-original-price {
    margin-left: 10px;
    /* vertical-align: baseline; */
    font-size: 15px;
    margin-top: 27px;
    color: #ccc;
    text-decoration: line-through;
}

p.product-discount {
    margin-top: 27px;
    margin-left: 10px;
    font-weight: bold;
    color: #757575;
}

.product-quantity {
    padding: 0px !important;
    margin: 0 auto !important;
    margin-bottom: 0px !important;
    line-height: 0px;
    color: #848688;
}
.badge{
	float: none !important;
    background: #eee;
    padding: 5px 10px!important;
    border-radius: 100px;
    height: 30px !important;
    width: 30px;
    font-weight: bolder;
}
p.product-quantity-value {
    line-height: 0;
    padding: 0;
    margin: 5px 0px;
}

.product-main-category{
    line-height: 0.5;
    color: #848688;
    font-size: 12px;
    text-transform: capitalize;
}
.product-subCategory{
	line-height: 0.5;
    color: rgb(158, 158, 158);
    font-size: 12px;
    text-transform: capitalize;
}
.btn-remove-order{
	float: right;
    padding: 1rem;
    background: rgba(239, 239, 239, 0.74);
}
.order-bottom {
    background: #eee;
    margin: 0 auto;
    margin-top: 15px;
    line-height: 0;
}
.box{
    	padding: 0px;
    	margin-bottom: 10px;
   		border-bottom: 1px dashed #ddd;
	}
/*================== MY Wishlist ================*/
.my-whishlist-Area h5{
	text-align: center;
	color: #aaa;
	background: linear-gradient(360deg, rgba(221, 221, 221, 0.58),rgba(238, 238, 238, 0.42),#f1f1f1);
	padding: 10px 0px;
	border-radius: 50px;
	margin-top: 0px;
}
/*================= Manage User Account Area ===================*/
.manage-userAccount-Area h5{
	text-align: center;
	color: #aaa;
	background: linear-gradient(360deg, rgba(221, 221, 221, 0.58),rgba(238, 238, 238, 0.42),#f1f1f1);
	padding: 10px 0px;
	border-radius: 50px;
	margin-top: 0px;
}

/**================= User ACCOUNT  Setting ================*/
.user-setting-Area {
    padding: 25px;
}

.radio-area{
	line-height: 2rem !important;
    padding: 2px 10px !important;
    margin-top: 25px;
    margin-bottom: 0px;
}

/*==========================================================
				Mobile Responsive Area
============================================================*/
@media(max-width: 768px){
	.myAccount-content-Area{
		padding: 10px !important;
	}
	.myAccount-Area {
     	padding: 15px;
     	width: 100%; 
	}

	.user-photo img 
	{
    	width: 50%;
    	height: auto;
    	border: 2px dashed #ddd;
    	padding: 3px;
    	margin: 15px 0px;
	}

		/*OrderList Area*/	
	.OrderList-Area{
		padding-top: 0px !important;
		padding: 0px !important;
	}	
	.orderList-image{
		padding: 0px !important;
	}
	.orderList-image img{
		width: 100%;
		padding-bottom: 10px;
	}
	.product-content-area{
		padding:0px !important; 
	}
	.product-seller{
		float: left;
	}
	.product-seller .label{
		float: left;
	}
	.seller-name{
		float: left;
		width: 100%;
	}
	.btn-remove-order {
	    float: left;
	    padding: 1rem;
	    background: rgba(239, 239, 239, 0.74);
	    text-align: center;
	    margin: 10px 0px;
	    width: 100%;
	    border: 1px dashed #DDD;
	}
	.total-amount{
		float: left !important;
	}
	.box{
    	padding: 0px;
    	margin-bottom: 10px;
   		border-bottom: 1px dashed #ddd;
	}
	.user-description-area{
		padding: 0px !important;
	}
}	