.myAccount-Area {
    padding: 25px;
    width: 70%;
}
.myAccount-content-Area {
    min-height: 300px !important;
    background: #fff;
    height: auto;
    padding: 25px !important;
    
}

.tab-header{
	height: 55px;
}
.tab-header a{
	line-height: 5rem;
}
.tabs .indicator{
	background-color: #2669b6;
}
.tab span{
    font-size: 2.7em;
    color: #888 ;
    line-height: 50px !important;
}
.tab .active span{
    font-size: 2.7em;
    color: #2669b6;
    line-height: 50px !important;
}


/**================== MY ACCOUNTS ====================*/
.user-profile-area{

}
.userDetails li{
	list-style: none;
	padding: 3px 10px;
}
.orderReturns-area-tabs a{
    color: #888888 !important;
}
.orderReturns-area-tabs a:hover,.orderReturns-area-tabs a.active {
    background:rgba(38, 105, 182, 0.2) !important;
    color: #2966b6 !important;
    font-weight: bolder;
}
.user-photo img {
 	width: 100%;
    height: auto;
    border: 2px dashed #ddd;
    padding: 3px;
}

/*========================  Order List  ===========================*/
.OrderList-Area{
	padding-top: 0px !important;
}
.product-content-area{
	padding: 15px 0px;
    border-bottom: 1px dashed #ddd;
    padding-bottom: 0px;
}
.orderList-image {
    width: 25%;
    height: auto;
    float: left;
}
.orderList-image img{
	width: 80%;
}
.productName{
	color: #666;
    font-size: 24px;
    margin: 5px 0px;
}
.productPrice {
    font-size: 24px;
    font-weight: bolder;
    color: green;
    margin: 5px 0px;
    padding: 10px 0px;
}
.old-price{
	color: rgba(173, 172, 172, 0.7);
    text-decoration: line-through;
    padding: 10px;
    margin: 0px 10px;
    font-size: 16px;
}
span.Off-price {
    font-size: 16px;
    background: #d6ead6;
    color: #006900;
    padding: 5px 10px;
    border-radius: 3px;
}
.product-description{
	float: left;
    color: #666;
    font-size: 14px;
    line-height: 20px;
    margin: 5px 0px;
    text-align: justify;
}
.btn-remove-order{
	background: rgba(189, 0, 0, 0.11);
    margin: 0px 10px;
    padding: 0px 20px;
    margin: 0px 0px 0px 0px;
    color: #bd1515;
}
/*.btn-remove-order:hover{
	background: rgba(189, 0, 0, 0.0);
    margin: 0px 10px;
    padding: 0px 20px;
    margin: 0px 20px 0px 0px;
    color: #bd1515;
}*/
.btn-add-to-whishlist{
	background: rgba(189, 0, 0, 0.11);
    margin: 0px 10px;
    padding: 0px 20px;
    margin: 0px 20px 0px 0px;
    color: #bd1515;
}
/*.btn-add-to-whishlist:hover{
	background: rgba(189, 0, 0, 0.0);
    margin: 0px 10px;
    padding: 0px 20px;
    margin: 0px 20px 0px 0px;
    color: #bd1515;
}
*/
.product-quantity span.badge{
	float: none;
    background: #eee;
    padding: 10px;
    border-radius: 50px;
    height: 50px;
    width: 100px;
    line-height: 20px;
    font-weight: bolder;
    margin: 10px;
}
p.product-seller span {
    color: #999;
    padding: 0px 10px;
}
.row.order-bottom {
    background: #eee;
    margin: 0 auto;
    margin-top: 15px;
    line-height: 0;
}
/*==========================================================
				Mobile Responsive Area
============================================================*/
@media(max-width: 768px){
	.myAccount-content-Area{
		padding: 15px !important;
	}
	.myAccount-Area {
     	padding: 15px;
     	width: 100%; 
	}

	.user-photo img 
	{
    	width: 50%;
    	height: auto;
    	border: 2px dashed #ddd;
    	padding: 3px;
    	margin: 15px 0px;
	}

		/*OrderList Area*/	
	.OrderList-Area{
		padding-top: 0px !important;
		padding: 0px !important;
	}	
}	