.product-details {
    padding: 25px;
}
.mainPoduct-area{
	background: #fff;
	padding: 25px !important;
}
.productDescription-area{

}
.signle-product-name {
        font-size: 25px;
    color: #676767;
}

.produce-price
{
	font-size: 11px;
    /* font-weight: 500; */
    /* float: left; */
    /* width: 20%; */
    margin-bottom: 0px;
    line-height: 12px;
    /* letter-spacing: 1px; */
}
.price-amount {
   font-size: 25px;
    /* float: left; */
    margin-top: 0px;
    line-height: 25px;
    /* letter-spacing: 11px; */
    color: green;
}
.seller-name-view{
	padding-left: 0px !important;
	font-size: 16px;
	color: #5a5a5a;
}
.product-brief-highlight{
    border-bottom: 1px dashed #ddd;
    padding-bottom: 10px;
}
.product-brief-highlight h5 {
    font-size: 16px;
    color: #000;
    font-weight: 500;
}
.product-brief-highlight li {
    padding-left: 25px;
    color: #5a5a5a;
    float: left;
    text-align: justify;
}
.product-brief-highlight li :last-child {
    padding-left: 25px;
    color: #5a5a5a;
    float: none !important;
    text-align: justify;
}
.product-description-content{
	float: left;
	border-bottom: 1px dashed #ddd;
    padding-bottom: 10px;
}
.product-description-content h5{
	font-size: 16px;
	color: #000;
	font-weight: 500;
}
.product-highlight-details{

}

.tabs{
    background: #2669b6;
    border: 2px solid #2669b6;
    border-bottom: none; 
}
.tabs .indicator{
    height: 0px;
}
.tabs .tab a{color: ghostwhite;}
.tabs .tab a:hover, .tabs .tab a.active{
    background-color: white;
    color: #2669b6;
    /*border-left: 1px solid #2669b6*/;
    border-bottom: none;
    .tabs{
        border-bottom: none; 
    }
}
.review-tabs{
	padding: 0px !important;
}
.overview-content{
	min-height: 200px !important;
	background: #fff;
	padding: 25px !important;
	border: 2px solid #2669b6;
    border-top: none;
}
.review-content{
	min-height: 200px !important;
	background: #fff;
	padding: 25px !important;
	border: 2px solid #2196f3;
    border-top: none;
}
.related-product
{
	border-bottom: 1px dashed #ddd;
    line-height: 2.7rem;
    padding-bottom: 15px;
}
.related-product-area{
    margin: 0 auto;
    background: #fff;
    padding: 25px 0px;
}
.related-product{
    width: 90%;
    margin: 0 auto;
}
/*Form - Review*/
form.form-review {
    width: 50%;
}
@media(max-width: 768px){
	form.form-review 
	{
    	width: 100% !important;
	}
    .related-product{width: 100% !important;}
    .uimax-block-section-26 .product-list .item{
        width: 100% !important;
        padding: 25px !important;
    }
}

p.product-original-price {
    margin-left: 10px;
    /* vertical-align: baseline; */
    font-size: 15px;
    margin-top: 27px;
    color: #ccc;
    text-decoration: line-through;
}
p.price-amount i {
    font-size: 15px;
}

p.product-discount {
    margin-top: 27px;
    margin-left: 10px;
    font-weight: bold;
    color: #757575;
}

span.signle-product-name {
    
}
.product-main-detail {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}
p.produce-price {
    color: #808080;
}

.product-seller {
    float: right;
        margin-top: 10px;
}

.product-main-detail {
    overflow: hidden;
}

.product-seller .label {
    text-align: right;
    font-size: 11px;
    line-height: 11px;
    color: #b7b7b7;
}

.seller-name {
    font-size: 10px;
    color: #9a9a9a;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.product-description-content.row p {
    margin-top: 0px;
    text-align: justify;
}

.description-label {
    font-size: 11px;
    line-height: 12px;
    color: #808080;
}
.product-main-detail {
    margin-bottom: 5px;
}
.product-text {
    float: left;
}
.product-category-list {
    font-size: 11px;
    color: #a2a2a2;
}