.product-details {
    padding: 25px;
}
.mainPoduct-area{
	background: #fff;
	padding: 25px !important;
}
.productDescription-area{

}
.productName{

}

.product-seller{
	border-bottom: 1px dashed #ddd;
    padding-bottom: 10px;
}
.seller-name{
    color: #000;
    font-size: 16px;
    min-width: 20%;
    padding-left: 0px !important;
    font-weight: 500;
}
.produce-price
{
	font-size: 16px;
    font-weight: 500;
    float: left;
    width: 20%;
}
.price-amount {
    font-size: 16px;
    float: left;
}
.seller-name-view{
	padding-left: 0px !important;
	font-size: 16px;
	color: #5a5a5a;
}
.product-brief-highlight{
    border-bottom: 1px dashed #ddd;
    padding-bottom: 10px;
}
.product-brief-highlight h5 {
    font-size: 16px;
    color: #000;
    font-weight: 500;
}
.product-brief-highlight li {
    padding-left: 25px;
    color: #5a5a5a;
    float: left;
    text-align: justify;
}
.product-brief-highlight li :last-child {
    padding-left: 25px;
    color: #5a5a5a;
    float: none !important;
    text-align: justify;
}
.product-description-content{
	float: left;
	border-bottom: 1px dashed #ddd;
    padding-bottom: 10px;
}
.product-description-content h5{
	font-size: 16px;
	color: #000;
	font-weight: 500;
}
.product-highlight-details{

}

.tabs{
    background: #2196f3;
    border: 2px solid #2196f3;
    border-bottom: none; 
}
.tabs .indicator{
    height: 0px;
}
.tabs .tab a{color: ghostwhite;}
.tabs .tab a:hover, .tabs .tab a.active{
    background-color: white;
    color: #2196f3;
    border-bottom: none;
    .tabs{
        border-bottom: none; 
    }
}
.review-tabs{
	padding: 0px !important;
}
.overview-content{
	min-height: 200px !important;
	background: #fff;
	padding: 25px !important;
	border: 2px solid #2196f3;
    border-top: none;
}
.review-content{
	min-height: 200px !important;
	background: #fff;
	padding: 25px !important;
	border: 2px solid #2196f3;
    border-top: none;
}
.related-product
{
	border-bottom: 1px dashed #ddd;
    line-height: 2.7rem;
    padding-bottom: 10px;
}

/*Form - Review*/
form.form-review {
    width: 50%;
}
@media(max-width: 768px){
	form.form-review 
	{
    	width: 100% !important;
	}
}