
/* Pen Title */
.main-logo img{
  min-width: 195px;
}

a.main-logo {
    position: relative;
    height: 100%;
    left: 53px;
}

input[type=password].invalid:not(.browser-default) {
	border-bottom: 1px solid #2669b6 !important;
    -webkit-box-shadow: 0 1px 0 0 #2669b6 !important;
    box-shadow: 0 1px 0 0 #2669b6 !important;
}

input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label{
  color: #9d9d9d;
  -webkit-transform: translate(-12%, -50%) scale(0.75); 
  transform: translate(-12%, -50%) scale(0.75); 
  font-weight: 300 !important;
  position: absolute;
    top: 0 !important;
    left: 0;
    color: #757575;
    font-size: 18px;
    font-weight: 300;
    line-height: 25px !important;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
}


.pen-title {
  padding: 25px 0;
  text-align: center;
  letter-spacing: 2px;
  /*background:linear-gradient(#07a0e2,#2767b5,rgba(16, 50, 88, 0.88));*/
  color: #fff;
}
.pen-title h1 {
  margin: 0 0 3px;
  font-size: 28px;
  font-weight: 300;
}
.pen-title span {
  font-size: 12px;
}
.pen-title span .fa {
  color: #ed2553;
}
.pen-title span a {
  color: #ed2553;
  font-weight: 600;
  text-decoration: none;
}

/* Rerun */
.rerun {
  margin: 0 0 30px;
  text-align: center;
}
.rerun a {
  cursor: pointer;
  display: inline-block;
  background: #ed2553;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 10px 20px;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.rerun a:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* Scroll To Bottom */
#codepen, #portfolio {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: #363636;
  width: 56px;
  height: 56px;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  color: #ffffff;
  text-align: center;
}
#codepen i, #portfolio i {
  line-height: 56px;
}
#codepen:hover, #portfolio:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/* CodePen */
#portfolio {
  bottom: 96px;
  right: 36px;
  background: #ed2553;
  width: 44px;
  height: 44px;
  -webkit-animation: buttonFadeInUp 1s ease;
  animation: buttonFadeInUp 1s ease;
}
#portfolio i {
  line-height: 44px;
}

/* Container */
.container-area {
  position: relative;
  max-width: 460px;
  width: 100%;
  margin: 0 auto 100px;
}
.container-area.active .card:first-child {
  background: #f2f2f2;
  margin: 0 15px;
}
.container-area.active .card:nth-child(2) {
  background: #fafafa;
  margin: 0 10px;
}
.container-area.active .card.alt {
  background: #2669b6;
  top: -15px;
  right: 0;
  width: 100%;
  min-width: 100%;
  height: auto;
  border-radius: 0px;
  padding: 25px;
  overflow: hidden;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.37);
}
.container-area.active .card.alt .toggle {
  position: absolute;
  top: 250px;
  right: 15px;

/*  top: 40px;
  right: -70px;
*/  box-shadow: none;
  -webkit-transform: scale(10);
  transform: scale(10);
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}
.container-area.active .card.alt .toggle:before {
  content: '';
}
.container-area.active .card.alt .title,
.container-area.active .card.alt .input-container,
.container-area.active .card.alt .button-container {
  left: 0;
  opacity: 1;
  visibility: visible;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.container-area.active .card.alt .title {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}
.container-area.active .card.alt .input-container {
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}
.container-area.active .card.alt .input-container:nth-child(3) {
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}
.container-area.active .card.alt .input-container:nth-child(4) {
  -webkit-transition-delay: .6s;
          transition-delay: .6s;
}
.container-area.active .card.alt .button-container:nth-child(2) {
  -webkit-transition-delay: .7s;
          transition-delay: .7s;
}
.container-area.active .card.alt .button-container {
  -webkit-transition-delay: .8s;
          transition-delay: .8s;
}


/* Card */
.card {
  position: relative;
  background: #ffffff;
  border-radius: 0px;
  padding: 25px;
  box-sizing: border-box;
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: .3s ease;
  transition: .3s ease;
  /* Title */
  /* Inputs */
  /* Button */
  /* Footer */
  /* Alt Card */
}
.card:first-child {
  background: #fafafa;
  height: 0px;
  border-radius: 5px 5px 0 0;
  margin: -10px 10px;
  padding: 0;
}
.card .title {
  position: relative;
  z-index: 1;
  border-bottom: 1px dashed #ddd;
  margin: 0 auto;
  padding: 0px 0px 25px;
  color: #848688;
  font-size: 24px;
  font-weight: 400;
  text-transform: capitalize;
  text-align: center;
}
.card .input-container {
  position: relative;
  margin: 25px 0px 25px;
}
.card .input-container input {
  outline: none;
  z-index: 1;
  position: relative;
  background: none;
  width: 100%;
  height: 40px;
  border: 0;
  color: #212121;
  font-size: 18px;
  font-weight: 400;
}
.card .input-container input:focus ~ label {
  color: #9d9d9d;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
          transform: translate(-12%, -50%) scale(0.75);
}
.card .input-container input:focus ~ .bar:before, .card .input-container input:focus ~ .bar:after {
  width: 50%;
}
.card .input-container input:valid ~ label {
  color: #9d9d9d;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
          transform: translate(-12%, -50%) scale(0.75);
}
.card .input-container label {
  position: absolute;
  top: 0 !important;
  left: 0;
  color: #757575;
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.card .input-container .bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #757575;
  width: 100%;
  height: 1px;
}
.card .input-container .bar:before, .card .input-container .bar:after {
  content: '';
  position: absolute;
  background: #2669b6;
  width: 0;
  height: 2px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}
.card .input-container .bar:before {
  left: 50%;
}
.card .input-container .bar:after {
  right: 50%;
}
.card .button-container {
  margin: 0 60px;
  text-align: center;
}
.card .button-container button {
  outline: 0;
  cursor: pointer;
  position: relative;
  display: inline-block;
  background: 0;
  width: 240px;
  border: 2px solid #e3e3e3;
  padding: 20px 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.card .button-container button span {
  position: relative;
  z-index: 1;
  color: #ddd;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.card .button-container button:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  background: #ed2553;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin: -15px 0 0 -15px;
  opacity: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.card .button-container button:hover, .card .button-container button:active, .card .button-container button:focus {
  border-color: #ed2553;
}
.card .button-container button:hover span, .card .button-container button:active span, .card .button-container button:focus span {
  color: #ed2553;
}
.card .button-container button:active span, .card .button-container button:focus span {
  color: #ffffff;
}
.card .button-container button:active:before, .card .button-container button:focus:before {
  opacity: 1;
  -webkit-transform: scale(10);
  transform: scale(10);
}
.card .footer {
  margin: 40px 0 0;
  color: #d3d3d3;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}
.card .footer a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.card .footer a:hover {
  color: #bababa;
}
.card.alt {
  position: absolute;
  top: 20px;
  right: 10px;
  z-index: 10;
  width: 100px;
  height: 100px;
  background: none;
  border-radius: 100%;
  box-shadow: none;
  padding: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  /* Toggle */
  /* Title */
  /* Input */
  /* Button */
}
.card.alt .toggle {
  position: relative;
  /*background: #ed2553;*/
  background: #2669b6;
  width: auto;
  height: 45px;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #ffffff;
  font-size: 24px;
  line-height: 45px;
  text-align: center;
  cursor: pointer;
  content: 'Sign up'
}
.card.alt .toggle:before {
  /*content: '\f040';*/
  content: 'Sign up';
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.card.alt .title,
.card.alt .input-container,
.card.alt .button-container {
  left: 100px;
  opacity: 0;
  visibility: hidden;
}
.card.alt .title {
  position: relative;
  z-index: 1;
  border-bottom: 1px dashed #ddd;
  margin: 0 auto;
  padding: 0px 0px 25px;
  color: ghostwhite;
  font-size: 24px;
  font-weight: 400;
  text-transform: capitalize;
  text-align: center;
}
.card.alt .title .close {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0px;
  display: inline;
  color: #ffffff;
  font-size: 42px;
  font-weight: 300;
}
.card.alt .title .close:before {
  content: '\00d7';
}
.card.alt .input-container input {
  color: #ffffff;
}
.card.alt .input-container input:focus ~ label {
  color: #ffffff;
}
.card.alt .input-container input:focus ~ .bar:before, .card.alt .input-container input:focus ~ .bar:after {
  background: #ffffff;
}
.card.alt .input-container input:valid ~ label {
  color: #ffffff;
}
.card.alt .input-container label {
  color: rgba(255, 255, 255, 0.8);
}
.card.alt .input-container .bar {
  background: rgba(255, 255, 255, 0.8);
}
.card.alt .button-container button {
  width: 100%;
  background: #ffffff;
  border-color: #ffffff;
}
.card.alt .button-container button span {
  color: #ed2553;
}
.card.alt .button-container button:hover {
  background: rgba(255, 255, 255, 0.9);
}
.card.alt .button-container button:active:before, .card.alt .button-container button:focus:before {
  display: none;
}

/* Keyframes */
@-webkit-keyframes buttonFadeInUp {
  0% {
    bottom: 30px;
    opacity: 0;
  }
}
@keyframes buttonFadeInUp {
  0% {
    bottom: 30px;
    opacity: 0;
  }
}




/*============= Buttons ================*/
.btn-login {
    background: #2669b6;
    width: 100%;
    margin: 20px 0px;
    border: 1px solid #2669b6;
    font-weight: bolder;
}

.btn-login:hover {
    background: rgba(38, 105, 182, 0.2);
    width: 100%;
    color: #2669b6;
    font-weight: bolder;
    border: 1px solid #2669b6;
    margin: 20px 0px;
}

.btn-signup {
    background: #FFF;
    color: #2765ac;
    width: 100%;
    font-weight: normal;
}
.btn-signup:hover {
    background: rgba(255, 255, 255, 0.74);
    color: #2765ac;
    font-weight: normal;
}

/**====================================*/

.seller-header-logo img{
    width: 20% !important;
}

.reg-container{padding-top: 50px}
.tabs .indicator {background-color:#2196f3 !important}
.back-tab{background-color:#228ee4}
.tabs .indicator {
right: 482px;
left: 0px;
height: 5px;
background-color: #1969a9 !important;
}
.tab-backgroud{background: rgb(255, 255, 255);}
div#test1 form {
    padding: 50px;
    padding-top: 20px;
}

.tab a.active {
    color: #fff !important;
}

.tab a {
    color:rgb(20, 98, 158)!important;
}

.tab:hover a {
    color: #fff !important;
}
.tabs{overflow: hidden !important; }






/*================= mobile Respnsive ============*/

@media(max-width: 768px){
	 
     .logo-area.main-logo img {
    width: 50% !important;
  }
   a.button-collapse {
        top: 20px !important;
    }
   .container-area{
    padding: 15px;
   }
   .main-logo img {
      width: 50% !important;
  }
   .logout {
    color: #0c6f9e;
    font-size: 33px;
    /* margin: -24px 0px 0px 220px !important; */
    display: block;
    position: absolute;
    top: 35px !important;
    right: 25px !important;
  }

  .seller-header-logo img {
	    width: 90% !important;
	    min-width: 75%;
	    margin: 0 auto !important;
	    padding: 10px;
	    }
	.login-form-area    
	{
		padding: 15px;
	}
	.card.alt .toggle{
		width: 50px;
    	height: 50px;
    	line-height: 50px;
	}

	.card.alt .toggle:before
	{
		content: "\f007" !important;
	}
}    