.reg-container{padding-top: 50px}
.tabs .indicator {background-color:#2196f3 !important}
.back-tab{background-color:#228ee4}
.tabs .indicator {
right: 482px;
left: 0px;
height: 5px;
background-color: #1969a9 !important;
}
.tab-backgroud{background: rgb(255, 255, 255);}
div#test1 form {
    padding: 50px;
    padding-top: 20px;
}

.tab a.active {
    color: #fff !important;
}

.tab a {
    color:rgb(20, 98, 158)!important;
}

.tab:hover a {
    color: #fff !important;
}
.tabs{overflow: hidden !important; }

