/* Global settings */
/* Global "table" column settings */

.cartArea-header {
    background: #2196f3;
    color: #fff;
}
.cartArea-header label{
    color: #fff;
}

.shopping-cart-area {
    padding: 25px;
}
@media(max-width: 798px){
  .shopping-cart-area{
    padding: 10px !important;
  }
  .product{
    padding:10px !important;
  }
  .checkoutArea {
    padding: 0px 15px !important;
  }
}
.checkoutArea{
    padding: 0px 25px;
}

.product-image {
  float: left;
  width: 20%;
  line-height: 3rem;
}

.product-details {
  float: left;
  width: 39%;
  line-height: 3rem;
}

.product-price {
  color: #565656;
  float: left;
  width: 10%;
  padding-left: 5px;
  padding-right: 20px;
  text-align: right;
  line-height: 3rem;
}

.product-quantity {
  float: left;
  width: 10%;
  text-align: center;
  line-height: 3rem;
}

.product-removal {
  float: left;
  width: 9%;
  text-align: center;
  line-height: 3rem;
}

.product-line-price {
  color: #565656;
  float: left;
  width: 12%;
  text-align: center;
  line-height: 3rem;
}

.totals {
    padding: 0;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}
.grand-total {
    line-height: 2rem;
    border-top: 1px dashed #aaa;
    margin-top: 5px;
    font-weight: bolder;
}

/* This is used as the traditional .clearfix class */
.group:before, .shopping-cart:before, .column-labels:before, .product:before, .totals-item:before,
.group:after,
.shopping-cart:after,
.column-labels:after,
.product:after,
.totals-item:after {
  content: '';
  display: table;
}

.group:after, .shopping-cart:after, .column-labels:after, .product:after, .totals-item:after {
  clear: both;
}

.group, .shopping-cart, .column-labels, .product, .totals-item {
  zoom: 1;
}

/* Apply clearfix in a few places */
/* Apply dollar signs */
.product .product-price:before, .product .product-line-price:before, .totals-value:before {
  content: "\20B9";
  padding: 0px 5px;
}


.totals-item .label:after, .product .product-line-price:before, .totals-value:before {
    content: "\20B9";
    padding: 0px 5px;
}
/* Body/Header stuff */
/*body {
  padding: 0px 30px 30px 20px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
}*/

h1 {
  font-weight: 100;
}

label {
  color: #848688;
  float: left;
  padding: 0px 20px;
  width: 50%;
}
.totals-value {
    float: right;
    padding: 0px 25px;
}
.shopping-cart {
  margin-top: 0px;
}

/* Column headers */
.column-labels label {
/*  padding-bottom: 15px;
  margin-bottom: 15px;
*/  border-bottom: 1px solid #eee;
  text-align: center;
}
.column-labels .product-image, .column-labels .product-details, .column-labels .product-removal {
  /*text-indent: -9999px;*/
  text-align: center;
}

/* Product entries */
.product {
  margin-bottom: 20px;
  padding-bottom: 10px;
  background: #fff;
  padding: 25px 0px;
}
.product:last-child {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 0px dashed #ddd;
}
.product .product-image {
  text-align: center;
}
.product .product-image img {
  width: 100px;
}
.product .product-details .product-title {
  margin-right: 20px;
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
  font-size: 18px;
  background: linear-gradient(90deg, rgba(158, 158, 158, 0.3),rgba(255,255,255,0.1));
  padding-left: 10px;
}
.product .product-details .product-description {
  margin: 5px 20px 5px 0;
  line-height: 1.4em;
  color: #848688;
  text-align: justify;
}
.product .product-quantity input {
  color: #565656;
  width: 70px;
  text-align: center;
  border-top: 1px solid #9e9e9e;
  line-height: 3rem;
}
.product .remove-product {
  border: 0;
  padding: 0px 15px;
  background-color: #e6e6e6;
  color: #a03030;
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
  font-size: 12px;
  border-radius: 3px;
}
.fa-2x {
    font-size: 2em;
    line-height: 3rem;
}
.product .remove-product:hover {
  background-color: #a03030;
  color: #fff;
}
/*.totals{
      width: 30%;
    float: right;
    padding: 0px 25px;
}*/
/* Totals section */
/*.totals .totals-item {
  float: right;
  clear: both;
  width: 100%;
  margin-bottom: 10px;
}
.totals .totals-item label {
  float: left;
  clear: both;
  width: 70%;
  text-align: right;
}
.totals .totals-item .totals-value {
  float: right;
  width: 30%;
  text-align: right;
}
.totals .totals-item-total {
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
}
*/
.checkout {
  float: right;
  border: 0;
  margin-top: 20px;
  padding: 6px 25px;
  background-color: #6b6;
  color: #fff;
  font-size: 25px;
  border-radius: 3px;
}

.checkout:hover {
  background-color: #494;
}

/* Make adjustments for tablet */
@media screen and (max-width: 650px) {
  .shopping-cart {
    margin: 0;
    padding-top: 20px;
    border-top: 1px solid #eee;
  }

  .column-labels {
    display: none;
  }

  .product-image {
    float: right;
    width: auto;
  }
  .product-image img {
    margin: 0 0 10px 10px;
  }

  .product-details {
    float: none;
    margin-bottom: 10px;
    width: auto;
  }

  .product-price {
    clear: both;
    width: 70px;
  }

  .product-quantity {
    width: 100px;
  }
  .product-quantity input {
    margin-left: 20px;
  }

  .product-quantity:before {
    content: 'x';
  }

  .product-removal {
    width: auto;
  }

  .product-line-price {
    float: right;
    width: 70px;
  }
}
/* Make more adjustments for phone */
@media screen and (max-width: 350px) {
  .product-removal {
    float: right;
  }

  .product-line-price {
    float: right;
    clear: left;
    width: auto;
    margin-top: 10px;
  }

  .product .product-line-price:before {
    content: 'Item Total: ';
  }

  .totals .totals-item label {
    width: 60%;
  }
  .totals .totals-item .totals-value {
    width: 40%;
  }
}
.checkout-area
{
    background: #fff;
    padding: 25px;
    margin: 0 auto;
}
.checkout-btn-area {
    line-height: 3rem;
    padding: 5px 0px;
}
.checkout-btn {
    background: #2196f3;
    width: 100%;
    margin: 25px 0px;
    font-weight: bolder;
    text-shadow: 0px 2px 3px rgba(84, 84, 84, 0.6);
}
.checkout-btn:hover,.checkout-btn:focus 
{
  background: #90caf9;
  color: rgba(25,25,25,0.9);
  font-weight: bolder;
  text-shadow: 0px 2px 3px rgba(84, 84, 84, 0.6);
}