/* global style sheet */
/*====================
	Main Navigation 
=====================*/
a.main-logo
{
	position: relative;
    height: 100%;
}
.main-logo img
{
	height: 100%;
	padding: 5px 0px;
}
.dropdown-content{
	top: 4.25rem !important;
}
nav ul a
{
	color: #848688;
}
.side-nav .collapsible-header, .side-nav.fixed .collapsible-header
{
	padding: 0px 32px !important;
}
.side-nav .collapsible-body li a, .side-nav.fixed .collapsible-body li a
{
	padding: 0 23.5px 0 50px !important;
}
.side-nav .user-view .background, .side-nav .userView .background
{
	position: relative;
}
.mobile-logo
{
	width: 250px;
    padding: 25px;
}
nav .button-collapse
{
	color: #1B7BC5;
}

nav ul a:hover 
{
    background-color: rgb(33, 150, 243);
    color: #fff;
}

/*
.mega
{
	position: absolute !important;
	width: 800px !important;
	margin: 0px auto !important;

}
*/
/**=======================
	Page main content
==========================*/
.main
{
	min-height: 350px;
}










.dropdown-menu-container {
    position: absolute;
    top: 64px;
    left: 5%;
    width: 90%;
    height: auto;
    z-index: 200;
    background: #fff;
    padding: 30px;
    border-top: 3px solid #e0e0e0;
}

.main-cat-container {
    min-width: 210px;
    float: left;
    margin: 15px;
    margin-top: 0px;
}

.main-cat-title {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid #ccc;
    color: #6b6b6b;
    font-size: 14px;
    text-transform: uppercase;
}

.sub-cat-name {
    color: #7b7b7b;
    font-size: 13px;
}

.sub-cat-name:hover {
    color: #2b2b2b;
    cursor: pointer;
}
.dropdown-menu-container{
	display: none;
}